@keyframes bounce {
    from {
      transform: translateY(-50px);
    }
  
    25% {
      transform: translateY(50px);
    }
  
    50% {
      transform: translateY(-15px);
    }
  
    75% {
      transform: translateY(15px);
    }
  
    to {
      transform: translateY(0px);
    }
  }
  
  #div1 {
    height: 100px;
    width: 100px;
    position: relative;
    top: 200px;
    left: 200px;
    background-color: aqua;
    animation: bounce 1s ease-in-out 1 alternate;
  }
  